body {
    margin: 0;
    background-color: #fff56c;
    z-index: 0;
  }
.screenshot {
    width: 40vw;
}
.spacer{
    margin: 0;padding: 0;
    opacity: 0;
}
.title {
    
    color: #4b5dff;
    font-size: 2.5rem;
    margin-top: 100px;
}

a {
    color: blue;
}

h2 {
    font-size: 2rem;
    color: #4b5dff;
    margin-left: 3vw;
    margin-bottom: 0;
    margin-top: 0;
}

.sec {
    padding: 3vw;
    width: 85vw;
    border: 3px dotted;
    border-radius: 5px;
    background-color: #FFF;
    margin: 0 2.5vw 40px 2.5vw;
}

.play {
    margin: 40px 10px;
    padding: 10px;
    background-color: white;
    border: 3px double black;
    border-radius: 5px;
}

@media screen and (max-width:1000px) {
    .screenshot {
        width: 85vw;
    }

    .text {
        font-size: 4vw;
    }

    .pc{
        display: none;
    }

    header.pc {
        display: none;
    }

    header img {
        width: 60%;
    }
}

@media screen and (min-width:1001px) {
    header .nav_toggle {
        display: none;
    }

    header img {
        width: 30%;
    }

    header .pc {
        display: block;
        float: right;
        padding: 1vw;
    }

    header a {
        text-decoration: none;
        color: #4b5dff;
        padding-left: 1vw;
    }
}
  
header {
    width: 100%;
    color: black;
    border-bottom: 3px solid black;
    z-index: 1000;
    margin: 0;
    background-color: #FFF;
    position: fixed;
}

.nav_toggle {
    display: block;
    position: relative;
    float: right;
    margin: 5%;
    width: 3.5rem;
    height: 3rem;
}

.nav_toggle i {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
    top: 0;
}

.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.nav_toggle i:nth-child(3) {
    bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
    transform: translateY(30px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
    opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

.nav {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.nav.show {
    opacity: 1;
    visibility: visible;
}

.nav_menu_ul {
    background: #333333;
    padding: 10%;
}

.nav_menu_ul a {
    color: #fff56c;
    font-size: 7vw;
}

.nav_menu_li {
    padding-bottom: 20px;
    font-size: 5vw;
}